/Atividad002/nbproject/private/
/Atividad002/build/
/PC1_POOII/nbproject/private/
/PC1_POOII/build/
/PC1_POOII/dist/
/motorápido/nbproject/private/
/motorápido/build/
/Actividad_S10/nbproject/private/
/Actividad_S10/build/
/App/target/
/taller/target/
